@import "variables";

.all-tickets {
  margin: $space-between 0;
  .all-tickets__header {
    padding: 2.5% 3% 5% 2.5%;
    display: flex;
    justify-content: space-between;

    .all-tickets__title {
      font-weight: 700;
      font-size: 1.2em;
      letter-spacing: 0.4px;
      color: $tickets-title-color;
    }

    .all-tickets__buttons-panel {
      flex-basis: 15%;
      display: flex;
      justify-content: space-between;

      .all-tickets__button {
        display: flex;
        align-items: center;

        .all-tickets__button-title {
          font-weight: 600;
          font-size: 0.8em;
          color: #4B506D;
          letter-spacing: 0.2px;
          margin-left: -20%;
          display: flex;
          align-items:center;
        }

        .all-tickets__button-icon:before {
          color: #C5C7CD;
          font-size: 0.8em;
          margin-left: -150%;
        }
      }
    }
  }

  .all-tickets__tickets {
    width: 100%;
    margin: 0;
    .all-tickets__ticket {

      .all-tickets__ticket-details {
        width: 43%;
      }
      .all-tickets__customer-name {
        width: 23%;
      }
      .all-tickets__date {
        width: 17%;
      }
      .all-tickets__priority {
        width: 8.5%;
      }
      .all-tickets__ticket-menu-button {
        width: 8.5%;
      }
    }
  }
}
