@import "variables";

.all-tickets {
  margin: $space-between 0;
  .all-tickets__header {
    padding: $space-between 3% 5% $space-between;
    display: flex;
    justify-content: space-between;

    .all-tickets__title {
      font-weight: 700;
      font-size: 1.1875em;
      letter-spacing: 0.4px;
      color: $tickets-title-color;
    }

    .all-tickets__buttons-panel {
      flex-basis: 15%;
      display: flex;
      justify-content: space-between;

      .all-tickets__button {
        display: flex;
        align-items: center;

        .all-tickets__button-title {
          font-weight: 600;
          font-size: 0.875em;
          color: #4B506D;
          letter-spacing: 0.2px;
          margin-left: -20%;
          display: flex;
          align-items:center;
        }

        .all-tickets__button-icon:before {
          color: #C5C7CD;
          font-size: 0.875em;
          margin-left: -150%;
        }
      }
    }
  }

  .all-tickets__tickets {
    width: 100%;
    margin: 0;

    .all-tickets__ticket {
      display: grid;
      grid-template-columns: 43% 23% 17% 12% auto;
      grid-template-rows: auto;
      padding: 2% $space-between;

      .all-tickets__ticket-details {
        display: inline-grid;
        grid-template-columns: 65px auto;
        align-content: center;

        .all-tickets__ticket-photo {
          border-radius: 50%;
          overflow: hidden;
          width: 44px;
          height: 44px;
          display: flex;
          justify-content: center;
          align-content: center;
        }

        .all-tickets__ticket-info {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .all-tickets__ticket-title {
            color: $tickets-title-color;
            font-size: 0.875em;
            font-weight: 600;
            padding: 0.75%;
          }
          .all-tickets__last-update {
            color: $tickets-subtitle-color;
            font-size: 0.75em;
            font-weight: 400;
            padding: 0.75%;
          }
        }
      }
      .all-tickets__customer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .all-tickets__customer-name {
          color: $tickets-title-color;
          font-weight: 600;
          font-size: 0.875em;
          padding: 0.75%;
        }
        .all-tickets__created-date {
          color: $tickets-subtitle-color;
          font-weight: 400;
          font-size: 0.75em;
          padding: 0.75%;
        }
      }
      .all-tickets__date-time {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .all-tickets__date {
          color: $tickets-title-color;
          font-weight: 600;
          font-size: 0.875em;
          padding: 0.75%;
        }
        .all-tickets__time {
          color: $tickets-subtitle-color;
          font-weight: 400;
          font-size: 0.75em;
          padding: 0.75%;
        }
      }
      .all-tickets__priority {
        display: flex;
        border-radius: 100px;
        text-transform: uppercase;
        background-color: $grey;
        color: $ticket-priority-color;
        width: fit-content;
        margin: auto 0;
        font-size: 0.6875em;
        font-weight: 700;
        padding: 5% 15%;
        letter-spacing: 0.5px;
      }
      .all-tickets__priority-high {
        background-color: $high-ticket-priority-background-color !important;
      }
      .all-tickets__priority-normal {
        background-color: $normal-ticket-priority-background-color !important;
      }
      .all-tickets__priority-low {
        background-color: $low-ticket-priority-background-color !important;
      }
      .all-tickets__more-button {
        color: #C5C7CD;
        font-size: 1em;
        display: inline-block;
        margin: auto;
      }
    }
    .all-tickets__ticket:first-child {
      padding-top: 0;
      padding-bottom: 1%;
      color: $tickets-table-title-color;
      font-weight: 700;
      font-size: 0.875em;
      letter-spacing: 0.2px;

      .all-tickets__ticket-details {
        grid-template-columns: 100%;
      }

      .all-tickets__priority {
        background-color: $white;
        text-transform: none;
        color: $tickets-table-title-color;
        font-size: 1em;
        letter-spacing: 0.2px;
        padding: 0;
        margin: 0;
      }
    }
    .all-tickets__ticket:not(:first-child):hover {
      background-color: $ticket-active-background-color;
    }

    .all-tickets__ticket-border {
      width: 100%;
      border-bottom: 1px solid $ticket-border;
    }
    .all-tickets__ticket-border:first-child {
      border-bottom: 2px solid $ticket-border;
    }
  }
}
