@import "variables";

.content {
  margin-left: $menu-width-desktop;

  .content__page {
    display: none;
    margin: 0 auto;
    max-width: 1680px;
    padding: 0 $space-between;;
  }

  .content__page_active {
    display: block;
  }
}
