$background: #F7F8FC;
$font-family-mulish: Mulish, mulish;
$topic-container-desktop: 12% 12% 22% 12%;
$space-between: 3.5%;
$container-desktop: 8% 10%;
$min-height-desktop: 500px;

// colors
$black: #252733;
$grey: #9FA2B4;
$light-grey: #C5C7CD;
$white: #fff;
$blue: #3751FF;
$red: #F12B2C;
$yellow: #FEC400;
$green: #29CC97;

$main-color-dark: $black;
$main-color-light: $grey;
$main-color-active: $blue;
$main-color-borders: #DFE0EB;

$title-color: $black;
$title-font-weight: 700;
$subtitle-color: $black;
$subtitle-font-weight: 600;

// menu
$menu-background-color: #363740;
$menu-background-color-active: #9FA2B4;
$menu-color: #A4A6B3;
$menu-color-active: #DDE2FF;
$menu-width-desktop: 18.5vw;
$menu-height-desktop: 100vh;
$menu-min-width-desktop: 200px;
$menu-max-width-desktop: 250px;
$menu-logo-color-outside: $blue;
$menu-logo-color-inside: $white;

// sections
$section-borders-color: $main-color-borders;
$section-background: $white;

// cards
$border: 1px solid $main-color-borders;
$border-radius: 8px;
$card-background-color: $white;
$card-title-color: $grey;
$card-amount-color: $black;
$card-active-color: $blue;

// tasks
$urgent-task-color: $yellow;
$new-task-color: $green;
$default-task-color: #F0F1F7;
$default-task-text-color: $grey;
$task-text-color: $white;

// tickets
$tickets-title-color: $black;
$tickets-subtitle-color: $light-grey;
$tickets-table-title-color: $grey;
$ticket-border: $main-color-borders;
$ticket-active-background-color: #3751FF0A;
// tickets priority
$ticket-priority-color: $white;
$high-ticket-priority-background-color: $red;
$normal-ticket-priority-background-color: $green;
$low-ticket-priority-background-color: $yellow;
